@font-face {
    font-family: "Minecraft";
    src: url("./font/Minecraft.ttf") format('truetype');
}


header {
    background-color: #18191B;
    padding: 10px;
    color: blue;
    box-shadow: 0px 8px 16px 0px rgba(24, 25, 27, 0.2)
}

body {
    background-image: url(Image/fond-ecran-minecraft-lac-mouton.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    margin: 0;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20%;
    padding: 5px;
}


.dropbtn {
    background-color: #18191B;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: grey;
}

footer {
    background-color: #18191B;
    width: 100%;
    height: 10vh;
    padding: 30px;
    align-content: flex-end;
}

.page {
    width: 87%;
    height: 90%;
    margin: 0 auto;
    background-color: #FAFAFA;
    padding: 0 20px 20px 20px;
    font-family: 'Minecraft';
}


.map {
    text-align: center;
}


.gallerie {
    text-align: center;
}

.gallerie img {
    height: 125px;
    border-radius: 30px;

}

input,
textarea {
    width: 100%;
    padding: 12Px;
    border-radius: 8px;
    border: none;
    background-color: #f8F9fa;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
    background-color: #333;
}
.socialIcons{
    display: flex;
    justify-content: center;
    
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
  }