header {
    background-color: black;
    padding: 10px;
    color: blue;
    box-shadow: 0px 8px 16px 0px black;
}

.all2 {
    display: flex;
    gap: 50px;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: white;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    flex-direction: column;
}

.container2 {
    align-items: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 510px;
    justify-items: flex-start;
}

.container2 img {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 80%;
}

#S1 {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    text-align: center;
}

#S1 div i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

#S2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pp1 h1 {
    color: orangered;
}

#S3 {
    background-color: rgb(35, 35, 35);
    border-radius: 30px;
    column-count: 3;
    height: 800px;
}

#S3 video {
    height: 190px;
    width: 240px;
    margin: 2px 0px;
}

#S3 .k {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0 0 0 130px;
}

.all .search {
    display: flex;
    justify-self: flex-end;
    margin: 0 0 0 187px;
}

.all h1 a {
    color: orangered;
}

.pp1 {
    text-align: center;
    line-height: 25px;
    height: auto;
}

.ordre {
    display: flex;
    flex-direction: column;
}

.icon div {
    font-size: 58px;
    width: 40%;
    height: 100%;
    ;
    display: flex;
    justify-content: center;
    margin: 50px 50px;
}

.icon {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.pp1 div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini1 {
    border-radius: 40px;
    background-color: rgb(35, 35, 35);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px 10px;
    width: 280px;
}

.mini1 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.mini1 div i {
    display: flex;
    align-items: center;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    height: 100%;
}

h1 {
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20%;
    padding: 5px;
    width: 100%;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: grey;
}

p {
    font-weight: bold;
}


